.slider-button {
	display:block;
	margin:var(--sz-20);
}

.store-header-slider {
	display:flex;
	margin-inline:auto;
	width: max-content;
	color:var(--clr-primary-400);
	align-items:center;
	width:90%;
	justify-content:center;
	margin-bottom:1em;
	
}

